<nav class="p-8 bg-black">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Voting System</span>
      </a>
      <div class="w-auto">
        <ul class="flex">
          <li>
            <a href="/reset-password" class="block px-4 text-white rounded">Reset password</a>
          </li>
          <li>
            <a href="/signout" class="block px-4 text-white rounded ">Log out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>